In [1]:
import pandas as pd

In [2]:
data = {'Item code':['D342N','D342N','HL7R2','HL7R2'],
        'ColorID':['5801', '9001','0201','4201'],
        'Product classification':['1','1','1','1'],
        'Target system':['AAP','AAP','AAP','AAP']}

In [3]:
data

{'ColorID': ['5801', '9001', '0201', '4201'],
 'Item code': ['D342N', 'D342N', 'HL7R2', 'HL7R2'],
 'Product classification': ['1', '1', '1', '1'],
 'Target system': ['AAP', 'AAP', 'AAP', 'AAP']}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

  ColorID Item code Product classification Target system
0    5801     D342N                      1           AAP
1    9001     D342N                      1           AAP
2    0201     HL7R2                      1           AAP
3    4201     HL7R2                      1           AAP